html {
    font-size: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
}

header, nav {
    margin-right: 50px;
}

/* LOGO AND NAVIGATION BAR */

.header-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 100%;
}

header {
    flex-grow: 6;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 2;
}

#sign-up {
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;
    color: #0065FC;
    margin-right: 50px;
    padding: 1.5em;
}

.nav-link {
    font-weight: 500;
    text-decoration: none;
    color: black;
    /* border: none; */
    padding: 2em; 
}

.nav-link:hover {
    border: #0065FC;
    border-style: solid none none none;
    color: #0065FC;
}

#sign-up:hover {
    border-top: #0065FC;
    border-style: solid none none none;
    color: #0065FC;
}

/* INTRO */

#intro-h {
    font-size: 21px;
    margin-bottom: 0;
    font-weight: bold;
}

#intro-p {
    margin-top: 5px;
    font-weight: 500;
    color: black;
    font-size: 1em;
}

/* SEARCH BAR */

.search-container {
    display: flex;
    flex-direction: row;
    width: 337px;
    border: 1px solid;
    border-radius: 8px;
    border-color: #f2f2f2;
    margin-bottom: 2em;
}

.fa-map-marker-alt {
    background-color: #f2f2f2;
    width: 52px;
    padding: 8px;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}    

.search-box {
    width: 55em;
    font-size: 17px;
    font-weight: bold;
    padding: 0.4em;
    border: none;
}

::placeholder {
    color: black;
    border: none;
}

#search-button {
    text-decoration: none;
    font-size: 17px;
    width: 52px;
    cursor: pointer;
    color: white;
    border: none;
    background-color: #0065FC;
    padding: 0.6em;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.search-icon {
    display: none !important;
}

/* FILTERS */

.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 38em;
}

.filters {
    font-size: 19px;
    text-decoration: none;
    font-weight: bold;
    padding: 7px;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 8px;
}

.money, .child, .heart, .dog {
    font-size: 19px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #f2f2f2;
    border-radius: 1em;
    cursor: pointer;
    background-color: white;
    padding: 0;
    padding-right: 0.5em;
}

.money:focus, .child:focus, .heart:focus, .dog:focus {
    outline: none;
}

.round {
    border-radius: 1em;
    margin-right: 0.5em;
}

.money:hover, .child:hover, .heart:hover, .dog:hover, .money:active, .child:active, .heart:active, .dog:active {
    background-color: #DEEBFF;
    box-shadow: 0 0 0.5em 0.05em rgb(92, 92, 92)
}

/* INFORMATION */

.info-container {
    display: flex;
    flex-direction: row;
    width: 23em;
}

.i {
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 4em;
    font-size: 0.5em;
    height: 1em;
    margin-right: 5px;
    align-self: center;
    padding: 0.5em 0.8em;
}

#info-p {
    font-size: 14px;
}

/* ACCOMMODATIONS */

.one-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
}

article {
    background-color: #F2F2F2;
    border-radius: 2em;
    padding: 1em 3em 3em 3em;
    margin-bottom: 2em;
    height: 35.5em;
}

.article-title {
    margin-bottom: 1em;
}

.hotel-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 49.5em;
    align-content: space-between;
    height: 28em;
    margin-bottom: 1.8em;
}

.hotel {
    background-color: white;
    border-radius: 1em;
    text-decoration: none;
    margin-left: 4px;
    box-shadow: 0 0 0.5em 0.05em #a3a3a3;
}

.hotel:hover {
    box-shadow: 0 0 0.5em 0.05em #0065FC;
}

.hotel:visited {
    color: initial;
}

.hotel-image {
    width: 14.7em;
    padding: 0.3em;
    object-fit: cover;
    height: 7em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    margin-bottom: -1em;
}

.hotel-name {
    color: black;
    font-weight: 700;
    padding-left: 0.5em;
    margin-bottom: -0.5em;
}

.hotel-price {
    color: black;
    font-size: 0.8em;
    padding-left: 0.6em;
}

.bluestar-one {
    color: #0065FC;
    font-size: 0.70em;
    margin-left: 0.60em;
    margin-bottom: 0.5em;
    position: relative;
    bottom: 0.8em;
}

.bluestar {
    color: #0065FC;
    font-size: 0.70em;
    position: relative;
    bottom: 0.8em;
}

.greystar {
    color: #E0DFDF;
    font-size: 0.70em;
    position: relative;
    bottom: 0.8em;
}

#show-more-link {
    color: black;
    text-decoration: none;
}

#show-more-link:visited {
    color: initial;
}

/* MOST POPULAR */

aside {
    background-color: #F2F2F2;
    border-radius: 2em;
    padding: 1em 2em 3em 2em;
    height: 35.5em;
}

.chart {
    margin-left: 6em;
}

.most-popular-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 29.8em;
}

.most-popular-hotel:hover {
    box-shadow: 0 0 0.5em 0.05em #0065FC;
}

.most-popular-container:visited {
    color: initial;
}

.most-popular-hotel {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 8.8em;
    width: 20.6em;
    border-radius: 1em;
    box-shadow: 0 0 0.5em 0.05em #a3a3a3;
    text-decoration: none;
}

.most-popular-image {
    width: 7.5em;
    height: 8.2em;
    padding: 0.3em;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    margin-bottom: -1em;
}

/* ACTIVITIES */

section {
    margin: 2em;
}

.activities-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4em;
    margin: 1em;
}

.container-one-column, .container-two-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activities-link {
    text-decoration: none;
}

.activities-link:visited {
    color: initial;
}

#Old-Port {
    background-color: white;
    height: 30.5em;
    width: 18em;
    border-radius: 1em;
    box-shadow: 0 0 0.5em 0.05em #A3A3A3;
}

#Pomegues-Fort {
    background-color: white;
    height: 19em;
    width: 18em;
    border-radius: 1em;
    box-shadow: 0 0 0.5em 0.05em #A3A3A3;
}

#Frioul-Island {
    background-color: white;
    height: 9em;
    width: 18em;
    border-radius: 1em;
    box-shadow: 0 0 0.5em 0.05em #A3A3A3;
}

#Calanques-National-Park {
    background-color: white;
    height: 30.5em;
    width: 18em;
    border-radius: 1em;
    box-shadow: 0 0 0.5em 0.05em #A3A3A3;
}

#Notre-Dame-de-la-Garde {
    background-color: white;
    height: 14em;
    width: 18em;
    border-radius: 1em;
    box-shadow: 0 0 0.5em 0.05em #A3A3A3;
}

#Longchamp-Park {
    background-color: white;
    height: 14em;
    width: 18em;
    border-radius: 1em;
    box-shadow: 0 0 0.5em 0.05em #A3A3A3;
}

#Old-Port:hover, #Pomegues-Fort:hover, #Frioul-Island:hover, #Calanques-National-Park:hover, #Notre-Dame-de-la-Garde:hover, #Longchamp-Park:hover {
    box-shadow: 0 0 0.5em 0.05em #0065FC;
}

.Old-Port-Image {
    height: 27.5em;
    width: 18em;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.Pomegues-Fort-Image {
    height: 16em;
    width: 18em;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.Frioul-Image {
    height: 6em;
    width: 18em;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.Calanques-Image {
    height: 27.5em;
    width: 18em;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.Notre-Image {
    height: 11em;
    width: 18em;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.Longchamp-Image {
    height: 11em;
    width: 18em;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.activity-name {
    color: black;
    font-weight: 700;
    padding-left: 1em;
    margin-top: 0.6em;
}

/* FOOTER */

footer {
    margin-top: 3em;
    background-color: #f2f2f2;
    position: relative;
    height: 10em;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60em;
    padding-left: 2.1875em;
}

.footer-link {
    text-decoration: none;
    color: 000000;
    font-size: 0.8em;
}

.footer-link:visited {
    color: initial;
}

.footer-link:hover {
    text-decoration: underline;
}

.p-footer {
    font-size: 20px;
    margin-bottom: -0.8em;
}

@media all and (max-device-width: 480px) {

    body {
        width: 100%;
        font-size: 1rem;
    }

    header, nav {
        margin-left: 0;
        margin-right: 0;
    }

    .part {
        width: 100%;
        margin-left: 15px;
    }

    .intro, .search-container, .filter-container {
        padding-left: 5%;
        padding-right: 5%;
    }

    /* LOGO AND NAVIGATION BAR */

    .header-container {
        margin-top: 5%;
        width: 100%;
        align-items: flex-start;
    }

    nav {
        margin: 0;
        flex-direction: row;
        order: 3;
        justify-content: space-between;
        width: 90%;
    }

    #accommodations-nav {
        flex-grow: 1;
        text-align: center;
        padding: 1.8em 0 1em 0.155em;
    }

    #activities-nav {
        flex-grow: 2;
        text-align: center;
        padding: 1.8em 1.155em 1em 0;
    }

    .nav-link {
        border-bottom: #F2F2F2;
        border-style: none none solid none;
        border-width: 0.18em;
        color: black;
    }

    .nav-link:hover {
        border-bottom: #0065FC;
        border-style: none none solid none;
        border-width: 0.18em;
        padding: 2.6em;
        color: #0065FC;
    }

    .logo {
        order: 1;
        margin-left: 5%;
        margin-right: 5%;
    }    

    #sign-up {
        order: 2;
        font-size: 1em;
        padding: 1em;
        text-align: right;
    }

    /* INTRO, SEARCH BAR, FILTERS */

    /* INTRO */

    #intro-p {
        margin-top: 10px;
        margin-bottom: 30px;
        font-weight: 300;
        color: grey;
        font-size: 0.8em;
    }

    /* SEARCH BAR */

    .search-container {
        justify-content: center;
        width: 95%;
        margin: 1.8em 1em;
        padding: 0;
    }

    .marker {
        margin-right: -25px;
    }

    .search-box {
        width: 70%;
        font-size: 1.08em;
        padding: 0.8em;
    }

    .mapmarker {
        padding: 1em 0.8em;
        width: 1.8em;
    }

    #search-button {
        border-radius: 0.8em;
        color: transparent;
        padding: 0 0 0.9em 1em;
        width: 2em;
        text-align: initial;
    }

    .search-icon {
        display: block !important;
        color: white;
    }

    /* FILTERS */

    .filter-container {
        flex-direction: column;
        align-items: flex-start;
        margin: auto;
    }

    .filters {
        padding-bottom: 1em;
    }

    .money, .child, .heart, .dog {
        margin-bottom: 0.8em;
    }

    /* INFO */

    .info-container {
        padding-left: 5%;
        width: 95%;
    }

    #info-p {
        font-size: 1em;
    }

    /* ACCOMMODATIONS AND MOST POPULAR */

    .one-container {
        flex-direction: column;
        width: 100%;
    }

    aside {
        order: 1;
        border-radius: 0;
        width: 100%;
        padding: 1em;
        margin-left: -29px;
    }

    .aside-title {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .chart {
        margin-left: 0;
        float: right;
    }

    .most-popular-container {
        height: auto;
        margin: 0;
    }

    .most-popular-hotel {
        width: 100%;
        margin-bottom: 1.5em;
    }

    /* ACCOMMODATIONS */

    article {
        order: 2;
        background-color: transparent;
        border-radius: 0;
        height: auto;
        width: 100%;
        padding: 0;
        margin-top: 1em;
        margin-bottom: 0.4em;
    }

    .article-title {
        margin-bottom: 2em;
    }

    .hotel-container {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: -1em;
    }

    .hotel {
        margin-bottom: 1.5em;
        width: 100%;
    }

    .hotel-image {
        width: 97.6%;
        height: 8em;
        object-position: 50% 60%;
    }

    #show-more {
        margin-left: 0;
    }

    /* ACTIVITIES */

    .section-title {
        margin-left: -10%;
        margin-bottom: 12%;
    }

    .activities-container {
        flex-direction: column;
        width: 100%;
        margin: -1em;
    }

    #Old-Port, #Pomegues-Fort, #Frioul-Island, #Calanques-National-Park, #Notre-Dame-de-la-Garde, #Longchamp-Park {
        width: 100%;
        height: 11em;
        border-radius: 1em;
        margin-bottom: 1.5em;
    }

    .Old-Port-Image, .Pomegues-Fort-Image, .Calanques-Image, .Notre-Image, .Frioul-Image, .Longchamp-Image {
        width: 100%;
        height: 8em;
    }

    /* FOOTER */

    footer {
        height: 28em;
        width: 100%;
        padding-right: 4%;
    }

    .footer-container {
        flex-direction: column;
        width: 90%;
        margin-left: 1em;
    }

    .p-footer {
        margin-bottom: -0.5em;
    }

    .about, .accommodations, .assistance {
        margin-bottom: 1em;
    }
}